streamlit==1.28.2
numpy==1.26.4
pandas==2.2.2
Pillow==10.4.0
opencv-python-headless==4.10.0.84
scikit-image==0.24.0
easyocr==1.7.1
deepface==0.0.93
matplotlib==3.9.0
tensorflow==2.13.0
protobuf==3.20.3
